<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner" style="background-color:#5E3232;">
					<div class="content">
						<h3>¿Cómo ver los partidos de Eliminatorias de Uruguay?</h3>
						<p>Recomendamos KODI, aplicación para Windows, Linux y OSX. Después de instalar
						   *KODI* instalar el addon Zem TV de la siguiente manera: 1)Instalar el source de addons fusion: Add-source, donde dice none
						   escribir exacto: http://fusion.tvaddons.ag, donde dice name, escribir fusion, darle al botón de OK.
						   2)Addon-browser/Settings-addons> Instalar zip file> Buscar el nombre fusion que guardamos anteriormente> kodi-repos> english> 							   repository.shani-2.9.zip y esperar el mensaje: repository-shani enabled. 3)Instalar from repository> Repositorio shani> Video-addons> 							   Zem y esperar mensaje: Addon-Zem enabled. Para más detallada información seguir el enlace Follow me ==></p>
					</div>
					<div class="copyright">
						<h3>Follow me</h3>
						<ul class="icons" style="margin-top:-30px">
							<li><a href="https://github.com/idiaminx/neutrol" class="icon fa-github" style="color:#000000"><span class="label">Github</span></a></li>
							<li><a href="https://plus.google.com/u/2/114340508136165198652" class="icon fa-google-plus" style="color:#dd4b39;"><span class="label">Google-Plus</span></a></li>
							<li><a href="https://twitter.com/neutroltk" class="icon fa-twitter" style="color:#55acee;"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook" style="color:#3b5998;"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/neutroltk/" class="icon fa-instagram" style="color:#e95950;"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble" style="color:#e4405f;"><span class="label">Dribbble</span></a></li>
							<li><a href="https://www.youtube.com/channel/UC3U45yvYe9GUGgkpgSSnzgQ" class="icon fa-youtube" style="color:#bb0000;"><span class="label">Youtube</span></a></li>
							<li><a href="https://idiaminx.github.io/neutrol"><span class="label" style="color:#000;"><img src="/neutrol/favicon.ico" width="70px" style="margin-bottom:-10px;" /></a></li>
						</ul>
						<span style="padding-left:2px;">&copy; Coco de orO</span>.<a href="images/coco.svg" style="padding-left:2px;"><img src="images/orO.svg" width="25px" style="margin-bottom:-7px;padding-left:6px;"></a><span style="padding-left:20px;">|</span> <span style="padding-left:20px;">Design:</span> <a href="https://templated.co" style="padding-left:2px;">TEMPLATED</a>.<span style="padding-left:20px">|</span><span style="padding-left:20px;"> Images:</span> <a href="https://images.google.com/" style="padding-left:2px;"><span style="text-decoration:none;">Google Images</span></a><br>
						<span>This site is built under the <a href="http://creativecommons.org/licenses/by/3.0"><span style="font-decoration:none;">Creative Commons Attribution 3.0 Unported</span></a> license.</span>
					</div>
				</div>
			</footer>

