<html>
	{% include head0.html %}
	<body>
		<!--   start header1   -->
			{% include header1.html %}
		<!--   end header1   -->


		<!--   start main   -->
	
			<div id="preview" class="vertical">

				<div class="inner">
					<div class="image fit">
						<img src="/neutrol/images/jump.jpg" alt="" /><br><br>
						
						<!--<div class="content">-->
							<div class="box">
								<header>
									<h2>LOS MUTISTAS</h2>
								</header>
								<p>Esto no debería ser una carga más para la selección pues como bien digo todo uruguayo desea tanto que le vaya bien
								en el fútbol que hacer méritos ante las fuerzas del Cosmos creador como ésto lo de solucionar
								la situación de los mutistas son méritos también para que nos vaya mejor en el fútbol.</p>
							</div>
						<!--</div>-->
						<img src="/neutrol/images/sunset-hd.jpg" alt="" /><br><br>
						<div class="box">
								<header>
									<h2>APARTE</h2>
								</header>
								<p>En Uruguay viven más de 50 millones de mutistas si jugaran al fútbol pasaríamos a ser una potencia
									a nivel mundial. Se entiende que necesitarían estrenarse para pararse en los dos básicos primero que nada.
									Nosotros los podríamos ayudar con el consentimiento del resto del colectivo "mutistas" como parte de la reconciliación.</p>
						</div>
						
					</div>
					<div class="content">
						<div class="box">
							{{ content }}
							
						</div>
						<div id="preview" class="vertical">
						<div class="inner">
							<div class="image fit">
								<img src="/neutrol/images/zlatan.jpg" alt="" />
							</div>
						</div>
						</div>
						
					</div>
					
					
				</div>
			</div>
		<!--   end main   -->

			

		<!--   start footer0   -->
			{% include footer0.html %}
		<!--   end footer0   -->


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


	</body>
</html>
		
