<!DOCTYPE HTML>
	
	{% include head0.html %}

	<body>

		<!--   start header1   -->
			{% include header1.html %}
		<!--   end header1   -->
		


		<!--   start main   -->
			{% include main2.html %}
		<!--   end main   -->


		


		<!--   start footer0   -->
			{% include footer0.html %}
		<!--   end footer0   -->


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


	</body>


</html>

