<html>
	{% include head1.html %}
	<body>

		<!--   start header1   -->
			{% include header1.html %}
		<!--   end header1   -->


		<!--   start main   -->
		<div id="preview" class="vertical">

				<div class="inner">
					<div class="image fit">


						<!--   start mpoll   -->

							{% include cuerdasdeansina-cuerdasdecuareim.html %}

						<!--   end mpoll   -->
						<br><br>
						<div class="box">
								<header>
									<h2></h2>
								</header>
								<p></p>
						</div>
						
						
						<br>


						
						<br>


						

					</div>
					
					<div class="content">
						<div class="box">
							Posted by {{ page.author }}{% if page.comments %} • <a href="https://idiaminx.github.io/neutrol{{ page.url }}#disqus_thread">0 Comments</a>{% endif %}
							{{ content }}
							
						</div>
						<div id="preview" class="vertical">
						<div class="inner">
							<div class="image fit">
								
							</div>
						</div>
						</div>
						<div class="box">
								<header>
									<h2></h2>
								</header>
								<p></p>
						</div>
						<div class="inner">
							<div class="image fit">
								
							</div>
						</div><br>
						<div class="box">
								<header>
									<h2></h2>
								</header>
								<p></p>
						</div><br><br><br>
						<!--   start disqus   -->
							{% include disqus.html %}
							<script id="dsq-count-scr" src="//neutrol.disqus.com/count.js" async=""></script>
						<!--   end disqus   -->
					</div>
				
				</div>
				<a href="info.html" class="nav previous"><span class="fa fa-chevron-left"></span></a>
				
		</div>
		<!--   end main   -->


		<!--   start footer0   -->
			{% include footer0.html %}
		<!--   end footer0   -->


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


	</body>
</html>
		
