<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<!-- head -->
	{% include head0.html %}
<!-- end head -->

	<body>
		


		<!--   start header0   -->

			{% include header0.html %}
		
		<!--   end   header0   -->



		

		<!--    start main   -->	

			<div class="main">

				<!--   start   inner   -->
					<div class="inner">

						<!--   start   columns0   -->

							{% include columns0.html %}

						<!-- end   columns   -->

					</div>
				<!--   end   inner   -->

				<center>
					<img src="images/pic21.jpg" width="60" style="margin-top:60px;padding-bottom:-10px;"><br><br>
					<span style="font-size: 10pt; font-weight: bold;padding-bottom:40px;">PERÚ - URUGUAY </span>
				        <audio autoplay="på" autoloop="på" name="Candombe Cachila Cuareim">
						<source src="Cachila.mp3" type="audio/mp3">
 					</audio>
 				</center>
			
			</div>
		<!--   end   main   -->


		


		<!--   start   footer0   -->
		
			{% include footer0.html %}

		<!--   end   footer0   -->


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>


			
				
