<html>
	{% include head0.html %}
	<body>
	
	<!--   start header1   -->

		{% include header1.html %}

	<!--   end header1   -->


	<!--   start main   -->

			
		
				
					

		<div id="preview" class="vertical">
				<div class="inner">
					
				<div class="content">

						<div class="box">

							{{ content }}
	
						</div>

				</div>
				<div class="content">

					<div class="box">
			
						<header>
							<h2>TABLA DE POSICIONES</h2>
						</header>
						<strong><p style="background-color:#51584B;color:#fff;"><td><strong style="color:#fff;"># Posición</strong></td><td><strong style="margin-left:55px;color:#fff;">Pts</strong></td><td><strong style="margin-left:21px;color:#fff;">GF</strong></td><td><strong style="margin-left:20px;color:#fff;">GC</strong></td><td><strong style="margin-left:20px;color:#fff;">DIFF</strong></td></p>
						<p style="background-color:#E5EAE0;"><td><strong style="color:#1D79E2;">1  <img src="http://www.eluniverso.com/files/widgetseu/campeonato/css/2015/eliminatorias_rusia_2018/images/BRA.png" style="padding-bottom:0px;" />  Brasil</strong></td><td><strong style="margin-left:61px;color:#1D79E2;">33</strong></td><td><strong style="margin-left:25px;">35</strong></td><td><strong style="margin-left:25px;">15</strong></td><td><strong style="margin-left:25px;">+25</strong></td></p>
						<p style="background-color:#E5EAE0;"><td><strong style="color:#1D79E2;">2  <img src="http://www.eluniverso.com/files/widgetseu/campeonato/css/2015/eliminatorias_rusia_2018/images/COL.png" style="padding-bottom:0px;" />  Colombia</strong></td><td><strong style="margin-left:30px;color:#1D79E2;">24</strong></td><td><strong style="margin-left:25px;">18</strong></td><td><strong style="margin-left:25px;">10</strong></td><td><strong style="margin-left:30px;">+3</strong></td></p>
						<p style="background-color:#E5EAE0;"><td><strong style="color:#1D79E2;">3  <img src="http://www.eluniverso.com/files/widgetseu/campeonato/css/2015/eliminatorias_rusia_2018/images/URU.png" style="padding-bottom:0px;" />  Uruguay</strong></td><td><strong style="margin-left:40px;color:#1D79E2;">23</strong></td><td><strong style="margin-left:25px;">26</strong></td><td><strong style="margin-left:25px;">17</strong></td><td><strong style="margin-left:30px;">+9</strong></td></p>
						<p style="background-color:#E5EAE0;"><td><strong style="color:#1D79E2;">4  <img src="http://www.eluniverso.com/files/widgetseu/campeonato/css/2015/eliminatorias_rusia_2018/images/CHI.png" style="padding-bottom:0px;" />  Chile</strong></td><td><strong style="margin-left:61px;color:#1D79E2;">23</strong></td><td><strong style="margin-left:25px;">24</strong></td><td><strong style="margin-left:25px;">19</strong></td><td><strong style="margin-left:30px;">+5</strong></td></p>
						<p style="background-color:#E5EAE0;"><td><strong style="color:#F75034;">5  <img src="http://www.eluniverso.com/files/widgetseu/campeonato/css/2015/eliminatorias_rusia_2018/images/ARG.png" style="padding-bottom:0px;" />  Argentina</strong></td><td><strong style="margin-left:30px;color:#F75034;">22</strong></td><td><strong style="margin-left:25px;">15</strong></td><td><strong style="margin-left:25px;">14</strong></td><td><strong style="margin-left:34px;">+1</strong></td></p>
						<p style="background-color:#E5EAE0;"><td><strong>6  <img src="http://www.eluniverso.com/files/widgetseu/campeonato/css/2015/eliminatorias_rusia_2018/images/ECU.png" style="padding-bottom:0px;" />  Ecuador</strong></td><td><strong style="margin-left:37px;color:#F75034;">20</strong></td><td><strong style="margin-left:25px;">23</strong></td><td><strong style="margin-left:25px;">20</strong></td><td><strong style="margin-left:27px;">+3</strong></td></p>
						<p style="background-color:#E5EAE0;"><td><strong>7  <img src="http://www.eluniverso.com/files/widgetseu/campeonato/css/2015/eliminatorias_rusia_2018/images/PER.png" style="padding-bottom:0px;" />  Perú</strong></td><td><strong style="margin-left:65px;color:#F75034;">18</strong></td><td><strong style="margin-left:25px;">22</strong></td><td><strong style="margin-left:25px;">23</strong></td><td><strong style="margin-left:34px;">-1</strong></td></p>
						<p style="background-color:#E5EAE0;"><td><strong>8  <img src="http://www.eluniverso.com/files/widgetseu/campeonato/css/2015/eliminatorias_rusia_2018/images/PAR.png" style="padding-bottom:0px;" />  Paraguay</strong></td><td><strong style="margin-left:34px;color:#F75034;">18</strong></td><td><strong style="margin-left:25px;">13</strong></td><td><strong style="margin-left:25px;">21</strong></td><td><strong style="margin-left:34px;">-8</strong></td></p>
						<p style="background-color:#E5EAE0;"><td><strong>9  <img src="http://www.eluniverso.com/files/widgetseu/campeonato/css/2015/eliminatorias_rusia_2018/images/BOL.png" style="padding-bottom:0px;" />  Bolivia</strong></td><td><strong style="margin-left:55px;color:#F75034;">10</strong></td><td><strong style="margin-left:25px;">12</strong></td><td><strong style="margin-left:25px;">32</strong></td><td><strong style="margin-left:30px;">-20</strong></td></p>
						<p style="background-color:#E5EAE0;"><td><strong>10  <img src="http://www.eluniverso.com/files/widgetseu/campeonato/css/2015/eliminatorias_rusia_2018/images/VEN.png" style="padding-bottom:0px;" />  Venezuela</strong></td><td><strong style="margin-left:28px;color:#F75034;">6</strong></td><td><strong style="margin-left:25px;">17</strong></td><td><strong style="margin-left:25px;">34</strong></td><td><strong style="margin-left:30px;">-17</strong></td></p></strong>

					</div>

				</div>
				</div></div>

		
				<!--</div>-->

				

			</div>
			
		
		</div>

	<!--   end main   -->

<div id="preview" class="vertical">

			<div class="inner">
			
				<!--<div class="image fit">-->

				<div class="image fit">

					<img src="/images/argentina-uruguay.jpg">

					<div class="inner">
					
					<div>

				</div>

			</div>
			<a href="prueba.html" class="nav previous"><span class="fa fa-chevron-left"></span></a>

</div>



<!--   start footer0   -->
			{% include footer0.html %}
		<!--   end footer0   -->


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


	</body>
</html>

